//= module/header.html

<div class="main index">

    <div class="main-slider">
        <div class="main-slider__slide" style="background-image: url('img/slide_1_image.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="main-slider__title">Титулка</div>
                        <div class="main-slider__text">Опис. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <a href="#" class="main-slider__btn"><span>Дізнатись більше ›</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider__slide" style="background-image: url('img/slide_1_image.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="main-slider__title">Титулка</div>
                        <div class="main-slider__text">Опис. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <a href="#" class="main-slider__btn"><span>Дізнатись більше ›</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-slider__slide" style="background-image: url('img/slide_1_image.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="main-slider__title">Титулка</div>
                        <div class="main-slider__text">Опис. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                        <a href="#" class="main-slider__btn"><span>Дізнатись більше ›</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="advantages">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="advantages__title">Наші Переваги</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2">
                    <div class="advantages__icon">
                        <img src="img/advantages_1.svg" alt="">
                    </div>
                    <p class="advantages__desc">30 000<br>Тканин у наявності</p>
                </div>
                <div class="col-xl-2">
                    <div class="advantages__icon">
                        <img src="img/advantages_2.svg" alt="">
                    </div>
                    <p class="advantages__desc">25<br>Країн світу - постачальники</p>
                </div>
                <div class="col-xl-2">
                    <div class="advantages__icon">
                        <img src="img/advantages_3.svg" alt="">
                    </div>
                    <p class="advantages__desc">Висока<br>якість Товару</p>
                </div>
                <div class="col-xl-2">
                    <div class="advantages__icon">
                        <img src="img/advantages_4.svg" alt="">
                    </div>
                    <p class="advantages__desc">150 000<br>Роздрібних замовлень</p>
                </div>
                <div class="col-xl-2">
                    <div class="advantages__icon">
                        <img src="img/advantages_5.svg" alt="">
                    </div>
                    <p class="advantages__desc">24/7<br>Служба Підтримки</p>
                </div>
                <div class="col-xl-2">
                    <div class="advantages__icon">
                        <img src="img/advantages_6.svg" alt="">
                    </div>
                    <p class="advantages__desc">15 000<br>Постійних Клієнтів</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="slider-product slider-product_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-product__title">Топ Продажу <a href="#" class="slider-product__see-more">Дивитись Всі</a></div>
                </div>
            </div>
            <div class="row slider-product__slider">
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_top">Топ продажу</div>
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <!--                            <div class="product-card__label product-card__label_rating">-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_top">Топ продажу</div>
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <!--                            <div class="product-card__label product-card__label_rating">-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_top">Топ продажу</div>
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <!--                            <div class="product-card__label product-card__label_rating">-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_top">Топ продажу</div>
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <!--                            <div class="product-card__label product-card__label_rating">-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_top">Топ продажу</div>
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <!--                            <div class="product-card__label product-card__label_rating">-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_top">Топ продажу</div>
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <!--                            <div class="product-card__label product-card__label_rating">-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                                <div class="product-card__star"></div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-product slider-product_rating">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-product__title">Кращі Товари по Рейтингу <a href="#" class="slider-product__see-more">Дивитись Всі</a></div>
                </div>
            </div>
            <div class="row slider-product__slider">
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
<!--                            <div class="product-card__label product-card__label_top">Топ продажу</div>-->
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <div class="product-card__label product-card__label_rating">
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                            </div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <!--                            <div class="product-card__label product-card__label_top">Топ продажу</div>-->
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <div class="product-card__label product-card__label_rating">
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                            </div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <!--                            <div class="product-card__label product-card__label_top">Топ продажу</div>-->
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <div class="product-card__label product-card__label_rating">
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                            </div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <!--                            <div class="product-card__label product-card__label_top">Топ продажу</div>-->
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <div class="product-card__label product-card__label_rating">
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                            </div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <!--                            <div class="product-card__label product-card__label_top">Топ продажу</div>-->
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <div class="product-card__label product-card__label_rating">
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                            </div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <!--                            <div class="product-card__label product-card__label_top">Топ продажу</div>-->
                            <!--                            <div class="product-card__label product-card__label_new">Новинка</div>-->
                            <div class="product-card__label product-card__label_rating">
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                                <div class="product-card__star"></div>
                            </div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-product slider-product_new">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-product__title">Новинки <a href="#" class="slider-product__see-more">Дивитись Всі</a></div>
                </div>
            </div>
            <div class="row slider-product__slider">
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_new">Новинка</div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_new">Новинка</div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_new">Новинка</div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_new">Новинка</div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_new">Новинка</div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="product-card">
                        <div class="product-card__photo" style="background-image: url('img/product-card__photo_1.jpg')">
                            <div class="product-card__label product-card__label_new">Новинка</div>
                        </div>
                        <div class="product-card__desc">
                            <div class="product-card__subTitle">Артикул <b>1234</b></div>
                            <div class="product-card__title">Двоспальний Комплект постільної білизни "Камея"</div>
                            <div class="product-card__text">Красивий та зручний постільний набір</div>
                            <div class="product-card__price"><span>397.00</span> грн</div>
                        </div>
                        <div class="product-card__buttons">
                            <div class="product-card__btn-add-fast">
                                <div class="product-card__colors-list">
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                    <a href="javascript:void(0)" class="product-card__color" style="background-image: url('img/product-card__color.jpg')"></a>
                                </div>
                                <span>Купити в один клік ›</span>
                            </div>
                            <a href="javascript:void(0)" class="product-card__btn-add-cart"><span>Додати до кошика</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="news">

        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="slider-product__title">Новини <a href="#" class="slider-product__see-more">Дивитись Всі</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="news-item">
                        <div class="news-item__photo" style="background-image: url('img/news_img.jpg')"></div>
                        <div class="news-item__desc">
                            <div class="news-item__date">Дата</div>
                            <div class="news-item__title">Назва</div>
                            <div class="news-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</div>
                            <a href="#" class="news-item__see-more"><span>Читати більше  ›</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">

                    <div class="news-item">
                        <div class="news-item__photo" style="background-image: url('img/news_img.jpg')"></div>
                        <div class="news-item__desc">
                            <div class="news-item__date">Дата</div>
                            <div class="news-item__title">Назва</div>
                            <div class="news-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</div>
                            <a href="#" class="news-item__see-more"><span>Читати більше  ›</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subscription">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="subscription__title">Підписатися на актуальні розсилки</div>
                    <div class="subscription__subTitle">Будьте в курсі нових подій та спеціальних пропозицій</div>
                </div>
            </div>

            <form>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="iBlock">
                            <input type="text">
                            <p class="placeholder">Имя</p>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="iBlock">
                            <input type="text">
                            <p class="placeholder">Компанія</p>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="iBlock iBlock_require">
                            <input type="text">
                            <p class="placeholder">email</p>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <a href="javascript:void(0)" class="btn btn-subscription">Підписатися</a>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-xl-12">
                    <p class="subscription__hint">* - обов’язкове поле для заповнення</p>
                </div>
            </div>
        </div>
    </div>

</div>

//= module/footer.html
