<footer class="footer">
	<div class="container">
        <div class="row">
            <div class="col-xl-3">

                <p class="title"><a href="#">Про Компанію</a></p>
                <ul>
                    <li><a href="#">Власне Виробництво</a></li>
                    <li><a href="#">Новини</a></li>
                    <li><a href="#">Доставrка і Оплата</a></li>
                    <li><a href="#">Контакти</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Політика Конфіденційності</a></li>
                </ul>

            </div>

            <div class="col-xl-3">

                <p class="title"><a href="#">Каталог Товарів</a></p>
                <ul>
                    <li><a href="#">Новинки</a></li>
                    <li><a href="#">Топ Продаж</a></li>
                    <li><a href="#">Кращі Товари по Рейтингу</a></li>
                    <li><a href="#">Акції</a></li>
                    <li><a href="#">Всі Тканини</a></li>
                    <li><a href="#">Для дому</a></li>
                    <li><a href="#">Для одягу</a></li>
                    <li><a href="#">Спеціальні Тканини</a></li>
                    <li><a href="#">Хутро</a></li>
                </ul>

            </div>

            <div class="col-xl-3">

                <p class="title"><a href="#">Особистий Кабінет</a></p>
                <ul>
                    <li><a href="#">Створення Особистого Кабінету</a></li>
                    <li><a href="#">Логін</a></li>
                </ul>

            </div>

            <div class="col-xl-3">

                <div class="footer__lang">
                    <ul>
                        <li><a href="#">Укр</a></li>
                        <li><a href="#">Рос</a></li>
                    </ul>
                </div>

                <div class="social social__footer">
                    <ul>
                        <li><a href="#"><svg><use xlink:href="img/ui/facebook.svg#facebook"></use></svg></a></li>
                        <li><a href="#"><svg><use xlink:href="img/ui/linkedin.svg#linkedin"></use></svg></a></li>
                        <li><a href="#"><svg><use xlink:href="img/ui/youtube.svg#youtube"></use></svg></a></li>
                        <li><a href="#"><svg><use xlink:href="img/ui/instagramm.svg#instagramm"></use></svg></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <p class="footer__copy">Copyright © 2020 ТК-ДОМАШНІЙ ТЕКСТИЛЬ</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="js/min/main.min.js"></script>
</body>
</html>