.advantages{

  padding: 60px 0;
  background: $colorWhite;

  &__icon{

    height: 85px;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img{

      max-height: 100%;
    }
  }

  &__title{

    font-size: rem(24);
    text-align: center;
    margin-bottom: 35px;
  }
  
  &__desc{

    text-align: center;
  }

}