.main-slider{

  &__slide{

    height: 40vw;
    max-height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex !important;
    align-items: center;
  }

  &__title{

    font-weight: 500;
    color: $colorWhite;
    font-size: rem(56);
    margin-bottom: 70px;
  }

  &__text{

    font-size: rem(24);
    color: $colorWhite;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 810px;
    line-height: 140%;
    margin-bottom: 50px;
  }

  &__btn{

    background: $colorBlack;
    font-weight: 700;
    color: $colorWhite;
    font-size: rem(24);
    height: 70px;
    line-height: 70px;
    text-align: center;
    padding: 0 50px;
    min-width: 320-100px;
  }

  .slick-dots{

    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translate(-50%, 0);

    li{

      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
    }

    button{

      font-size: 0;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      border: 1px solid $colorBlack;
      background: transparent;
      cursor: pointer;
    }

    .slick-active{

      button{

        background: $colorTextGray;
      }
    }
  }
}