.news-item{

  display: flex;
  background: $colorWhite;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0);
  box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0);
  transition: box-shadow .3s;
  
  &:hover{

    cursor: pointer;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  }

  &__photo{

    width: 160px;
    height: 160px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
  }

  &__desc{

    width: calc(100% - 170px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__date{

    font-size: rem(12);
    color: $colorBlack;
    margin-bottom: 15px;
  }

  &__title{

    font-weight: 700;
    line-height: 140%;
    font-size: rem(18);
    color: $colorBlack;
    margin-bottom: 10px;
  }

  &__text{

    font-size: rem(14);
    color: $colorBlack;
    line-height: 140%;
    margin-bottom: 10px;
  }

  &__see-more{

    font-size: rem(14);
    font-weight: 700;
    color: $colorBlack;
    line-height: 140%;
    text-decoration: underline;
  }
}