.product-card{

  position: relative;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0);
  box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0);
  transition: box-shadow .3s;
  //width: 310px;
  //height: 520px;
  width: 100%;

  $root: &;

  &__photo{

    height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__label{

    border-radius: 5px;
    text-transform: uppercase;
    color: $colorWhite;
    font-size: rem(14);

    position: absolute;
    top: 10px;
    right: 10px;

    &_top{

      background: #8A4E78;
      height: 24px;
      line-height: 24px;
      display: inline-block;
      padding: 0 10px;
    }

    &_new{

      background: #839950;
      height: 24px;
      line-height: 24px;
      display: inline-block;
      padding: 0 10px;
    }

    &_rating{

      display: flex;
    }
  }

  &__star{

    width: 21px;
    height: 21px;
    background: url("../../img/ui/Star.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__desc{

    background: $colorWhite;
    padding: 10px;
    box-sizing: border-box;
  }

  &__subTitle,
  &__text{

    font-size: rem(14);
    margin-bottom: 7px;
  }

  &__text{

    margin-bottom: 20px;
  }

  &__title{

    font-size: rem(20);
    margin-bottom: 7px;
  }

  &__price{

    font-size: rem(14);

    span{

      font-size: rem(18);
    }
  }

  &__btn-add-cart{

    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    font-size: rem(14);
    color: $colorGray;
    transition:  color .3s;
    background: $colorWhite;

    &:hover{

      color: $colorBlack;
    }
  }

  &__btn-add-fast{

    width: 100%;
    height: 50px;
    background: rgba($colorBlack, .66);
    text-align: center;
    cursor: default;
    transition: background .3s;

    span{

      font-weight: 700;
      font-size: rem(18);
      color: $colorWhite;
      line-height: 48px;
      transition: opacity .3s;
    }

    &:hover{

      span{

        opacity: 0;
      }

      #{$root}__colors-list{

        opacity: 1;
      }
    }
  }

  &__buttons{

    position: relative;
  }

  &__colors-list{

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__color{

    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    //overflow: hidden;
    z-index: 1;
    position: relative;

    &:after{

      content: '';
      background: $colorGray;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
    }

    &:before{

      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      border-radius: 50%;
      border: 2px solid $colorWhite;
      z-index: 3;
      opacity: 0;
      transition: opacity .3s;
    }

    &:hover{

      &:after{

        opacity: 0;
      }

      &:before{

        opacity: 1;
      }
    }
  }

  &:hover{

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 12px 0px rgba(0, 0, 0, 0.25);

    #{$root}__btn-add-fast{
      background: rgba($colorBlack, 1);
    }
  }
}