.slider-product{
  padding-bottom: 40px;

  &_top{

  }

  &_rating{

    background: $colorWhite;
  }

  &_new{

  }

  &__title{

    margin: 50px 0 40px;
    text-align: center;
    font-size: rem(32);
    position: relative;
  }

  &__see-more{

    position: absolute;
    right: 0;
    font-size: rem(16);
    color: $colorGray;
    //top: 50%;
    //transform: translate(0, -50%);
    line-height: 50px;

    &:hover{

      color: $colorBlack;
    }
  }

  .slick-list{

    padding: 20px 0;
  }

  .slick-arrow{

    width: 50px;
    height: 50px;
    border: none;
    background: transparent;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: rem(36);
    cursor: pointer;
    color: $colorGray;

    &.slick-prev{

      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-100%, -50%) rotate(180deg);
    }

    &.slick-next{

      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(100%, -50%);
    }
  }
}