.subscription{

  padding-bottom: 50px;

  &__title{

    margin: 50px 0 20px;
    text-align: center;
    font-size: rem(32);
    position: relative;
  }

  &__subTitle{

    margin: 15px 0 40px;
    text-align: center;
    font-size: rem(18);
    position: relative;
    color: #525252;
  }

  &__hint{

    color: $colorGray;
    text-align: center;
    margin: 20px 0 0;
  }
}