.btn{

  &-search{

    width: 24px;
    height: 24px;

    svg{

      width: 100%;
      height: 100%;
      fill: $colorGray;
      transition: fill .3s;
    }

    &:hover{

      svg{

        fill: $colorBlack;
      }
    }
  }

  &-cart{

    padding-left: 40px;

    i{
      width: 32px;
      height: 32px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;

      svg{

        width: 100%;
        height: 100%;
        transition: fill .3s;
        fill: $colorGray;
      }
    }

    span{

      width: 20px;
      height: 20px;
      line-height: 20px;
      position: absolute;
      left: 13px;
      top: -10px;
      border-radius: 50%;
      background: #9F2628;
      color: $colorWhite;
      font-weight: 700;
      font-size: rem(10);
      text-align: center;
      font-style: normal;
    }

    &:hover{

      i{

        svg{

          fill: $colorBlack;
        }
      }
    }
  }

  &-subscription{

    font-size: rem(18);
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    color: $colorWhite;
    background: $colorBlack;
    height: 44px;
    width: 100%;
  }

  &-lk{

    border: 2px dashed $colorGray;
    transition: all .3s;
    height: 32px;
    padding: 0px 15px;
    line-height: 28px;
    border-radius: 5px;

    &:hover{

      border: 2px dashed $colorBlack;
    }
  }
}