
.background-mask{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 100;
	display: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor: pointer;

	&:active{

	}
}
.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 110;
	overflow: auto;

	&.open{

	}

	.body{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		min-height: 100%;
		background: #fff;
		z-index: 112;
	}

	.close_win{
		position: absolute;
		top: 20px;
		right: 20px;
		width: 45px;
		height: 45px;
		z-index: 10;
		cursor: pointer;

		&:after,
		&:before
		{
			content: "";
			width: 15px;
			height: 2px;
			background: #000;
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&:after{
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:before{
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.main_menu{
	&.active{

	}
	.body{
		background: #e02b2c;
		overflow: hidden;
	}

}