@media  only screen and (min-width: 1200px) {

}
@media  only screen and (min-width: 1200px) and (max-width: 1280px) {
	
}
@media  only screen and (min-width: 992px) and (max-width: 1200px) {

}
@media only screen and (max-width : 1200px)  {

}
@media  only screen and (min-width: 993px) and (max-width: 1200px) {

}
@media  only screen and (max-width: 992px) {

}
@media  only screen and (min-width: 320px) and (max-width: 736px) and (orientation:landscape) {

}
@media  only screen and (min-width: 320px) and (max-width: 736px) and (orientation:portrait) {

}
@media  only screen and (min-width: 320px) and (max-width: 736px) {

}
@media  only screen and (min-width: 320px) and (max-width: 375px) {

}
@media  only screen and (min-width: 375px) and (max-width: 415px) {

}
@media  only screen and (min-width: 415px) and (max-width: 736px) {

}