a{
	text-decoration: none;
	color: inherit;
	position: relative;
	display: inline-block;

	&:hover,
	&:active,
	&:focus
	{
		text-decoration: none; 
		/* color: inherit; */
	}
}
*{
	outline: none;
}

a{

	transition: color .3s;
}