.footer{

  background: $colorBlack;
  padding: 30px 0;

  &__copy{

    color: rgba($colorWhite, 0.3);
    text-align: center;
    margin-top: 40px;
  }

  &__lang{

    margin-bottom: 27px;

    ul{
      font-size: 0;
    }

    li{

      display: inline-block;
      margin: 0 6px;

      &:first-of-type{

        margin-left: 0;
      }
    }
  }

  .title{

    text-transform: uppercase;
    margin-bottom: 14px;
  }

  a{

    font-size: rem(14);
    color: $colorTextGray;
    transition: color .3s;

    &:hover{

      color: $colorWhite;
    }
  }
}