.header {

  height: 64px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  $root: &;

  .col-xl-12{

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{

    width: 115px;

    img{

      width: 100%;
    }
  }

  &__nav,
  &__lang{

    ul{
      font-size: 0;
    }

    li{

      display: inline-block;
      margin: 0 20px;

      &:first-of-type{

        margin-left: 0;
      }
    }
  }

  a{

    font-size: rem(14);
    color: $colorGray;

    &:hover{

      color: $colorBlack;
    }
  }

  &__left-side,
  &__right-side{

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right-side{

    .btn,
    #{$root}__social{

        margin: 0 20px;
    }

    #{$root}__social{

      margin-right: 0;
    }
  }

  &__lang{

    margin: 0 16px;

    li{

      margin: 0 4px;
    }
  }
}