*{
    margin: 0px;
    padding: 0px;
}
body,
html
{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 100%;
    position: relative;
    width: 100%;

    input, textarea {
        -moz-user-select: text;
        -o-user-select: text;
        -khtml-user-select: text;
        -webkit-user-select: text;
        user-select: text;
        resize: none;
    }
}
a{
    text-decoration: none;
}

input[type=text]{
    border-radius: 0 !important;
    -webkit-appearance: none !important;
}

.social{

    ul{
        font-size: 0;
    }

    li{
        display: inline-block;
        margin: 0 10px;

        &:last-of-type{

            margin-right: 0;
        }
    }

    a{

        width: 32px;
        height: 32px;

        svg{

            width: 100%;
            height: 100%;
            transition: fill .3s;
            fill: $colorGray;
        }

        &:hover{

            svg{

                fill: $colorBlack;
            }
        }
    }

    &__footer{

        li{
            &:first-of-type{

                margin-left: 0;
            }
        }

        a{

            svg{

                fill: $colorTextGray;
            }

            &:hover{

                svg{

                    fill: $colorWhite;
                }
            }
        }
    }
}

.iBlock{

    position: relative;

    input{

        height: 44px;
        background: $colorWhite;
        width: 100%;
        padding: 0 10px;
        font-size: rem(18);
        color: $colorBlack;
        border: 2px dashed transparent;
        transition: border .3s;

        &:focus{

            border: 2px dashed $colorBlack;

            & + .placeholder{

                opacity: 0;
            }
        }
    }

    .placeholder{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
        pointer-events: none;
        transition: opacity .2s;
        color: $colorGray;
    }
    
    &_require{
        
        .placeholder{
            
            &:after{

                content: '*';
                color: rgba(#9F2628, .5);

            }
        }
    }
}